{% extends 'base.html' %}

{% block title %}
	My Tasks
{% endblock %}

{% block body %}
	<table>
		<col width = 500>
		<col width = 500>
		<col width = 500>
		<tr>
			<th>TODO </th>
			<th>Completed Tasks</th>
			<th>Incomplete tasks</th>
		</tr>
		<tr>

			<td>
				<ol> <!-- Todo -->
					{% for task in tasks %}	
							
							<li>{{ task.status }}</li>
						
					{% endfor %}
				</ol>
			</td>



<!-- 
			<td>
				<ol>  
					{% for task in tasks %}	
						{% if task.status == 'com' %}		
							<li>{{ task }} by {{ task.due }}</li>
						{% endif %}
					{% endfor %}
				</ol>
			</td>


			<td>
				<ol>  
					{% for task in tasks %}	
						{% if task.status == 'incom' %}		
							<li>{{ task }} by {{ task.due }}</li>
						{% endif %}
					{% endfor %}
				</ol>
			</td>
 -->


		</tr>
	</table>
	
{% endblock %}