{% extends 'base.html' %}

{% block title %}
My Tasks
{% endblock %}


{% block body %}
	<table>
		<col width = 500>
		<col width = 500>
		<col width = 500>
		<tr>
			<th>TODO </th>
			<th>Completed Tasks</th>
			<th>Incomplete tasks</th>
		</tr>
		<tr>

			<td>
				<ol> <!-- Todo -->
					{% for task in tasks %}	
						{% if task.status.status_text == 'to' %}
						<form action="" method="post">
							{% csrf_token %}
							<li> 
								{{ task }} <button type = "submit" name = "done" value = "{{task.id}}">Done!</button>
							</li>
						</form>
						{% endif %}
					{% endfor %}
				</ol>		
			</td>




			<td>
				<ol>  <!-- Completed -->

					{% for task in tasks %}
						{% if task.status.status_text == 'com' %}	
						<form action="" method="post">	
							{% csrf_token %}
							<li> {{ task }} <button type = "submit" name = "remove"  value = "{{task.id}}">
								Remove
							</button> </li>
							
						</form>
						{% endif %}
					{% endfor %}
				</ol>
			</td>


			<td>
				<ol>  <!-- Incomplete -->

					{% for task in tasks %}		
						{% if task.status.status_text == 'incom' %}
						<li> {{ task }} </li>
						{% endif %}
					{% endfor %}
				</ol>
			</td>


		</tr>
	</table>

	<div style="text-align: center;">
		<form action="" method="post">
			{% csrf_token %}
			<input type="text" name="newTask" placeholder="Add a new task">
			<input type="submit" value="Add!">
		</form>
			
	</div>
	
{% endblock %}